<ng-container *ngIf="true">
<div class="container">
	<div class="card-table">
		<div class="card-product">
		<table class="table table-reponsive">
		<thead>
		<tr>
			<th>Product Name</th>
			<th>Price</th>
			<th>Description</th>
			<th>Quantity</th>
			<th>Total</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>
			<tr>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				<td>test</td>
				
			</tr>
		</tbody>
		</table>
		
		</div>
		</div>
</div>
</ng-container>





<ng-container *ngIf="false">
	<div class="container">
		<div class="card">
		<h5 class="card-title"><strong>Your Cart</strong></h5>
		</div>
		<div class="center">
		
			<img src="../../../assets/Images/CartImage.jpg" alt="CartImage">
		<h4>Your cart is empty!</h4>
		<h5>Add something to it!</h5>
		<button class="btn btn-danger">Shop Now!</button>
		</div>
		
		</div>

</ng-container>