<div class="banner">

    <div class="content">
         <h1 class="mb-5">Vintage Toys <br> and Games</h1>
    <a href="http://localhost:4200/product_page">CHECK OUT OUR STOCK <i class="bi bi-arrow-bar-right"></i></a>
    </div>

  </div> 

  <h1 class="text-center"><span class="highlight">So what do we have?</span>  </h1>
   
 <div class="container mt-5 mb-4">
       <div class="row">
         
        
        <div class="col-lg-4 mt-2">
        <div class="stepBox">
        
         <h1 class="text-center">Vintage Action Figures </h1>
             <p class="text-center">We have a vast selection <br>
            from Star Wars to Transformers!</p>
         </div>
         
</div>

       

         <div class="col-lg-4 mt-2">
             <div class="stepBox">
            <h1 class="text-center">Plushies</h1>
            <p class="text-center">Plushies from anime,gaming <br>
            and other pillars of geek culture!</p>
            </div>
            </div>
            <div class="col-lg-4 mt-2">

                <div class="stepBox">
                <h1 class="text-center">Retro Gaming</h1>
                <p class="text-center">We have everything from Atari <br>
                    to PS5!</p>
                     </div>
                </div>
                
            </div>
    </div>

       <router-outlet></router-outlet>