



<!-- Button trigger modal -->
<button type="button" class="btn btn-danger float-end m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
(click)="modalAdd()"
>
  Add Product
</button>


<table class="table table-striped">
<thead>
  <th>ID</th>  
  <th>Name</th>
  <th>Description</th>
  <th>SKU</th>
  <th>Category ID</th>
  <th>Price</th>
  <th>Seller ID</th>
  <th>Options</th>
</thead>
<tbody>
    <tr *ngFor = "let dataitem of Product">
        <td>{{dataitem.id}}</td>
        <td>{{dataitem.name}}</td>
        <td>{{dataitem.desc}}</td>
        <td>{{dataitem.sku}}</td>
        <td>{{dataitem.categoryid}}</td>
        <td>{{dataitem.price}}</td>
        <td>{{dataitem.sellerid}}</td>
        <td><button data-bs-toggle="modal" data-bs-target="#staticBackdrop"
         (click) = "editClick(dataitem)"
          >Edit</button> &nbsp; 
          
          <button (click) = "deleteClick(dataitem)">Delete</button></td>
          
    </tr>
</tbody>

</table>





<!-- Add New Product Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click) = "modalClose()" id = "add-edit-modal-close"></button>
      </div>
      <div class="modal-body">
        <app-add-edit-prod [prod] = "prod" *ngIf=" activateAddEditProdComp"></app-add-edit-prod>
      </div>
      
    </div>
  </div>
</div>