


<form>
    <div class="mb-3">
     
 
    <label for="id" class="form-label">Name</label>
   <input type="text" class="form-control" name ="name" id="name"  [(ngModel)]="name" placeholder="Enter Name" />
 
   
    <label for="exampleFormControlTextarea3">Description</label>
    <textarea class="form-control"  rows="7" [(ngModel)]="desc" name="desc" id="desc" placeholder="Enter Description"></textarea>

    <label for="id" class="form-label">SKU</label>
    <input type="number" class="form-control" [(ngModel)]="sku" name ="sku" id="sku" placeholder="Enter SKU"/>
  

      <label for="id" class="form-label">Category ID</label>
       
        <select class="form-control" [(ngModel)] ="categoryid" name="categoryid" id="categoryid" >
       
         <option *ngFor="let type of Category " [value]="type.id">{{type.name}}       </option>   
    </select>

    <label for="id" class="form-label">Price</label>
    <input type="number" class="form-control"  [(ngModel)]="price" name="price" id="price" placeholder="Enter Price" />
  
    <label for="id" class="form-label">Seller ID</label>
       
    <select class="form-control" [(ngModel)]="sellerid" name="sellerid" id="sellerid" >
    
     <option *ngFor="let type of Seller" [value]="type.id">{{type.name}}      </option>   
</select>
 
  </div>
   
  
<button (click)="AddProduct()" *ngIf="prod.id==0" class="btn btn-danger">Add Product</button>

<button (click)="UpdateProduct()" *ngIf="prod.id!=0" class="btn btn-danger">Update Product</button>

    
</form>
